// Include any default variable overrides here (though functions won't be available)
$primary: #89e029;
$light: #dafaea;
$dark: #24224b;
$secondary: #8ea57f;
$info: #76558f;
$warning: #dbab0c;
$danger: #f44336;
$success: #4dffa6;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here
// TODO: I dunno where these go?
$primary: #89e029;
$light: #dafaea;
$dark: #24224b;
$secondary: #8ea57f;
$info: #76558f;
$warning: #dbab0c;
$danger: #f44336;
$success: #4dffa6;
